<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appClone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD8AA7E42BD9280300DF0E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8AA7FD2BD9280500DF0E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8AA8072BD9280500DF0E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
